// colors

$dark: #181f23;
$blue: #064a88;
$green: #298080;
$yellow: yellow;
$red: red;
$light: white;

$theme-colors: ( "primary": $blue, "success":$green, "warning":$yellow,"danger":$red,"dark":$dark,"light":$light ) !default;
